{% load staticfiles%}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Water Management System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'plants/css/main.css' %}" />
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
		
	</head>
	<body>

		<!-- Header -->			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48" style="background-color:inherit !important;"><img src="{% static 'plants/images/man.svg' %}" alt="" /></span>
							<h1 id="title">{{ username }}</h1>
							
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<!-- <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Map</span></a></li> -->
								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Us</span></a></li>
								<li><a href="/addwaterdata/" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Add Water Data</span></a></li>
								<li><a href="/search_waterdata/" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Search Water Data</span></a></li>
								<li><a href="/all_waterdata/" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">All Water Data</span></a></li>
								
								<a href="{% url 'auth_part:logout' %}"><button style="margin-right: 20px;margin-top: 10px;">Logout</button></a>								
								<center><li>Your  Water Data</li></center>
								<hr/>								
								{% for plant in plants %}
									{% if plant.alias %}
										<a style="text-align:center;" href="{{plant.get_absolute_url}}"><div style="font-size:1rem; font-weight:bold;">{{plant.alias}}</div></a><hr/>
									{% else %}
										<a style="text-align:center;" href="{{plant.get_absolute_url}}"><div style="font-size:1rem; font-weight:bold;">{{plant.alias}}</div></a><hr/>
									{% endif %}		
									</a>
								{% endfor %}
							</ul>
						</nav>

				</div>

			<!--	<div class="bottom">

					
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div> -->

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">
							<style type="text/css">

							#dwdnum {
							    display:none;
							}

							 #freeresid {
							    display:none;
							}
							 #turbidity  {
							    display:none;
							}
							 #ecol {
							    display:none;
							}

							#ph {
							    display:none;
							}


						</style>

							<script type="text/javascript">


							function myFunction() {
							    var x = document.getElementById("source").value;
							    if (x == "Borehole") document.getElementById("dwdnum").style.display = "block";
							    if (x == "Tappoint" || x == "Household" || x == "Protected Spring") document.getElementById("dwdnum").style.display = "none";

							}
							function myParameter() {
							    var x = document.getElementById("parameter").value;
							    if (x == "Free Residental"){
							    	document.getElementById("freeresid").style.display = "block";
							    	document.getElementById("turbidity").style.display = "none";
							    	document.getElementById("ecol").style.display = "none";
							    	document.getElementById("ph").style.display = "none";
							    	
							    }

							    if (x == "Turbidity") {
							    	document.getElementById("turbidity").style.display = "block";
							    	document.getElementById("freeresid").style.display = "none";
							    	document.getElementById("ecol").style.display = "none";
							    	document.getElementById("ph").style.display = "none";
							    }
							    if (x == "E.Col") {
							    	document.getElementById("ecol").style.display = "block";
							    	document.getElementById("freeresid").style.display = "none";
							    	document.getElementById("turbidity").style.display = "none";
							    	document.getElementById("ph").style.display = "none";
							    }
							    if (x == "PH") {
							    	document.getElementById("ph").style.display = "block";
							    	document.getElementById("freeresid").style.display = "none";
							    	document.getElementById("turbidity").style.display = "none";
							    	document.getElementById("ecol").style.display = "none";
							    }

							   
							}

							</script>


					
							  <div class="card-header text-center">Add Water data</div>
					      <div class="card-body">
					        <form   method="post">
					        {% csrf_token %} 
					         
					        
					   
					          <div class="form-group">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">District</label>
					                 <select  class="form-control" name="district" id="exampleInputName" class="selectpicker">
									  <option value="{{waterdata_form.district.value}}">{{waterdata_form.district.value}}</option>
									  <option value="Adjumani">Adjumani</option> 
									  <option value="Arua">Arua</option>
									  <option value="Moyo">Moyo</option>
									</select>

					              </div>
					            </div>
					          </div>
					          <div class="form-group">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">Zone</label>
					                <select  class="form-control" name="zone" id="exampleInputName" class="selectpicker">
									  <option value="{{waterdata_form.zone.value}}">{{waterdata_form.zone.value}}</option>
									  <option value="zone A">zone A</option>
									  <option value="zone B">zone B</option>
									  <option value="zone C">zone C</option>
									</select>

					              </div>
					            </div>
					          </div>

					          <div class="form-group">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">Settlement</label>
					                 <select  class="form-control" name="settlement" id="exampleInputName" class="selectpicker">
									  <option value="{{waterdata_form.settlement.value}}">{{waterdata_form.settlement.value}}</option>
									  <option value="Ayilo ii">Ayilo ii</option>
									  <option value="Olua i">Olua i</option>
									  <option value="Mungula i">Mungula i</option>
									  <option value="Mungula ii">Mungula ii</option>
									  <option value="Oleji">Oleji</option>
									  <option value="Ayeri">Ayeri</option>

									</select>
									


					              </div>
					            </div>
					          </div>
					          <div class="form-group">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">Block</label>
					                <select  class="form-control" name="block" id="exampleInputName" class="selectpicker">
									  <option value="{{waterdata_form.block.value}}">{{waterdata_form.block.value}}</option>
									  <option value="A">A</option>
									  <option value="B">B</option>
									  <option value="C">C</option>
									</select>

					              </div>
					            </div>
					          </div>
					          <div class="form-group">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">Cluster</label>
					             
					                <select  class="form-control" name="cluster" id="exampleInputName" class="selectpicker">
									  <option value="{{waterdata_form.cluster.value}}">{{waterdata_form.cluster.value}}</option>
									  <option value="1">1</option>
									  <option value="2">2</option>
									  <option value="3">3</option>
									</select>

					              </div>
					            </div>
					          </div>


					          <div class="form-group">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">Source</label>
					                  <select  class="form-control" name="source" id="source" class="selectpicker" onchange="myFunction()">
									   <option value="{{waterdata_form.source.value}}">{{waterdata_form.source.value}}</option>

									  <option value="Borehole">Borehole</option>
									  <option value="Tappoint">Tappoint</option>
									  <option value="Household">Household</option>
									  <option value="Protected Spring">Protected Spring</option>
									</select>
					              </div>
					            </div>
					          </div>

					          <div class="form-group" id="dwdnum" >
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">DWD Number</label>
					                <input class="form-control" name="dwdnum" value="{{waterdata_form.dwdnum.value}}" type="text" aria-describedby="nameHelp" placeholder="Enter DWD Number">
					              </div>
					            </div>
					          </div>

					          <div class="form-group">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">GPS Cordinates</label>
					                <table style="width:940px"><tr><td><input class="form-control" name="ycord"   value="{{waterdata_form.ycord.value}}" type="text" aria-describedby="nameHelp" placeholder="Enter Y Cordinates"></td><td><input class="form-control" name="xcord" value="{{waterdata_form.xcord.value}}" type="text" aria-describedby="nameHelp" placeholder="Enter X Cordinates"></td></tr></table>
					                
					              </div>
					            </div>
					          </div>



					          <div class="form-group">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">Parameter</label>					
					                  <select  class="form-control" name="parameter" id="parameter" class="selectpicker" onchange="myParameter()">
									  <option value="{{waterdata_form.parameter.value}}">{{waterdata_form.parameter.value}}</option>
									  <option value="Free Residental">Free Residental</option>
									  <option value="Turbidity">Turbidity</option>
									  <option value="E.Col">E.Co</option>
									  <option value="PH">PH</option>
									</select>

					              </div>
					            </div>
					          </div>

					          <div class="form-group"  id="freeresid" >
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">Free Residental</label>
					                 <select  class="form-control" name="freeresid" class="selectpicker">
									  <option value="{{waterdata_form.freeresid.value}}">{{waterdata_form.freeresid.value}}</option>
									  <option value=">0.5mg/l"> greater 0.5mg/l</option>
									  <option value="<0.2mg/l"> less 0.2mg/l</option>
									  <option value="0.2-0.5mg/l">0.2-0.5mg/l</option>
									</select>


					              </div>
					            </div>
					          </div>

					          <div class="form-group" id="turbidity" >
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">Turbidity</label>	
					                 <select  class="form-control" name="turbidity" class="selectpicker">
									  <option value="{{waterdata_form.turbidity.value}}">{{waterdata_form.turbidity.value}}</option>
									  <option value="<5NTU"> less 5NTU</option>
									  <option value=">5NTU"> greater 5NTU</option>
									
									</select>


					              </div>
					            </div>
					          </div>


					          <div class="form-group" id="ecol">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">E .Col(Number of counts/100 m/s)</label>
					                <input class="form-control" name="ecol"  value="{{waterdata_form.ecol.value}}"  type="text" aria-describedby="nameHelp" placeholder="Enter ecol">
					              </div>
					            </div>
					          </div>

					          <div class="form-group"  id="ph">
					            <div class="form-row">
					              <div class="col-md-12">
					                <label for="exampleInputName">PH</label>
					                <input class="form-control" name="ph"  value="{{waterdata_form.ph.value}}" type="text" aria-describedby="nameHelp" placeholder="Enter PH(Number)">
					              </div>
					            </div>
					          </div>

					          <input class="form-control" name="id"  value="{{waterdata_form.id.value}}" id="exampleInputName" type="hidden" aria-describedby="nameHelp" placeholder="Enter PH(Number)">
					          <input class="form-control" name="user"  value="{{waterdata_form.user.value}}" id="exampleInputName" type="hidden" aria-describedby="nameHelp" placeholder="Enter PH(Number)">



					          </div>
					          <button value="submit" class="btn btn-primary btn-block col-md-12">Submit Data</button>
					        </form>
					        
					      </div>
					    </div>
						</div>
					</section>

			

				<!-- About Us -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Us</h2>
							</header>


						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						
							

					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
				<hr style="clear:both;margin-bottom:3%; width:80%;border: 1.5px solid #988;">
				<!-- Copyright -->
					<ul class="copyright" style="float:right;margin-right:100px;">
						<li>Designed by: <a href="#" target="blank">Group 12</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="{% static 'plants/js/jquery.min.js' %}"></script>
			<script src="{% static 'plants/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'plants/js/jquery.scrollzer.min.js' %}"></script>
			<script src="{% static 'plants/js/skel.min.js' %}"></script>
			<script src="{% static 'plants/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'plants/js/main.js' %}"></script>

	</body>
</html>